body {
	background-color: #FFFBE5;
	font-family: 'Segoe UI', 'Helvetica Neue', 'Open Sans', sans-serif;
}

header {
	position: relative;
  background-color: #16C172;
  padding: 7px;
  padding-left: 20px;
  left: 0px;
  top: 0px;
  width: 100%;
  margin: -12px;
	box-shadow: 0px 3px 6px #9E9E9E;
}

a {
	text-decoration: none;
}

#card {
	box-shadow: 1px 1px 1px silver;
	background-color:#fff;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
	width:40%;
	min-width:600px;
	position: relative;
	margin-top:15em;
	padding-bottom:3em;
	text-align: left;
}

#card.not-season .status { color: #7B0000; }
#card.in-season .status { color: #007B00; }

#query {
	position:relative;
	text-align:center;
	margin-top:3em;
}

.indigo-link {
	color: #fff;
	font-weight:500;
}

.query-text {
	color:#007B00;
	position:relative;
	font-size:3.3em;
}

/* Status of whether fruit/vegetable is in season, will be Yes or No, color will change based on DOM settings */
.status {
	font-size:3.3em;
	color:#a1a1a1;
	padding-top: 0.33em;
}

.fruit-image {
	width: 100px;
	height:100px;
	float:left;
	padding:2em;
}

.seasons-subtext {
	color:#646464;
	font-size:1.5em;
	padding-top:0.5em;
}

.header-first {
	font-size:1.8em;
	color:#fff;
}

.header-second {
	margin-left:20px;
	font-size:1em;
	color:#eeeeee;
}

.text-area {
	width: 250px;
  text-align: center;
  display: inline-table;
  margin-right: 30px;
}

.text-fruitVeg {
	font-size: 1em;
	border-radius: 10px 10px 10px 10px;
	border-style: solid;
	border-color: #95989A;
	padding-top: 0px;
	padding-bottom: 0px;
	border-width: 0.03em;
	width: 100%;
	color: #007B00;
	font-family: 'Segoe UI', 'Helvetica Neue', 'Open Sans', sans-serif;
	margin-left: 0.1em;
	margin-right: 0.1em;
	padding-left: 20px;
}

.textbox-label-top {
	display:none;
}

.textbox-label-bottom {
	font-size: 0.4em;
	display: grid;
	padding-left: 30px;
	padding-top: 10px;
}

/* Mobile-specific settings */

@media only screen and (max-width:700px) {
	.header-second {
		display:none;
	}

	.fruit-image {
		width: 100px;
		height: 100px;
		padding:0;
		padding-top: 2em;
		text-align: center;
		width: 100%;
	}

	.status {
		text-align:center;
	}

	.seasons-subtext {
		text-align: center
	}

	.textbox-label-top {
		font-size: 5vw;
		padding-bottom: 0;
		padding: 0;
		display: table-caption;
		padding-left: 30px;
		padding-top: 10px;
	}

	.textbox-label-bottom {
		display:none;
	}

	#card {
		box-shadow: 1px 1px 1px silver;
		background-color: #fff;
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
		width: 100%;
		position: relative;
		margin-top: 5em;
		padding-bottom: 3em;
		text-align: left;
		min-width:0px;
	}

	.text-fruitVeg {
		max-width: 100000%;
	}
}
