body {
	background-color: #FFFBE5;
	font-family: 'Segoe UI', 'Helvetica Neue', 'Open Sans', sans-serif;
}

header {
	position: relative;
  background-color: #16C172;
  padding: 7px;
  padding-left: 20px;
  left: 0px;
  top: 0px;
  width: 100%;
  margin: -12px;
}

a {
	text-decoration: none;
}

#card {
	box-shadow: 1px 1px 1px silver;
	background-color:#fff;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

#query {
	position:relative;
	text-align:center;
	margin-top:3em;
}

.indigo-link {
	color: #fff;
	font-weight:500;
}

.query-text {
	color:#007B00;
	position:relative;
	font-size:3.3em;
}

/* Status of whether fruit/vegetable is in season, will be Yes or No, color will change based on DOM settings */
.status {
	font-size:3.3em;
	color:#a1a1a1;
}

.fruit-image {
	width: 300px;
	height:300px;
	float:left;
}

.seasons-subtext {
	color:#424242;
}

.header-first {
	font-size:1.8em;
	color:#fff;
}

.header-second {
	margin-left:20px;
	font-size:1em;
	color:#eeeeee;
}

.text-fruitVeg {
	font-size: 1em;
	border-radius: 10px 10px 10px 10px;
	border-style: solid;
	border-color: #95989A;
	padding-top: 0px;
	padding-bottom: 0px;
	border-width: 0.03em;
	width: 200px;
	max-width: 30%;
	color: #007B00;
	font-family: 'Segoe UI', 'Helvetica Neue', 'Open Sans', sans-serif;
	margin-left: 0.1em;
	margin-right: 0.1em;
}



/* Mobile-specific settings */

@media only screen and (max-width:700px) {
	.header-second {
		display:none;
	}
}
