body {
	background-color: #FFFBE5;
	font-family: 'Segoe UI', 'Helvetica Neue', 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;
}

/* Pushes down the footer */
#main-cont {
	min-height: calc(100vh - 55px);
	padding-bottom: 20px;
	box-sizing: border-box;
}

header {
	position: relative;
	background-color: #16C172;
	padding: 0.5em;
	padding-left: 1em;
	left: 0px;
	top: 0px;
	width: 100%;
	box-sizing: border-box;
}

footer {
	width: 100%;
	background: #cecece;
	text-align: center;
	color: #4c4c4c;
	font-size: 12px;
	padding: 0.5em 0em;
}

footer a {
	color: #007B00;
}

a {
	text-decoration: none;
}

.card {
	display: none;
	box-shadow: 1px 1px 1px silver;
	box-sizing: border-box;
	background-color:#fff;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
	width:40%;
	min-width:600px;
	position: relative;
	margin-top:10em;
	padding:2em 1em;
	text-align: left;
	padding-right:1em;
}

.card.not-season .status { color: #7B0000; }
.card.in-season .status { color: #007B00; }

#query {
	position:relative;
	text-align:center;
	margin-top:10em;
}

.indigo-link {
	color: rgb(125,20,230);
	font-weight:500;
}

.query-text {
	color:#007B00;
	position:relative;
	font-size:3.3em;
}

/* Status of whether fruit/vegetable is in season, will be Yes or No, color will change based on DOM settings */
.status {
	font-size:3.3em;
	color:#a1a1a1;
}

.fruit-image {
	width:  6.25em;
	height: 6.25em;
	padding:1em 2em;
	display: inline-block;
	vertical-align: middle;
}

.right-col {
	display: inline-block;
	width: calc(100% - 180px);
	vertical-align: middle;
}

.seasons-subtext {
	color:#646464;
	font-size:1.5em;
	padding-top:0.5em;
}

.header-first {
	font-size:1.8em;
	color:#fff;
}

.header-second {
	margin-left:20px;
	font-size:1em;
	color:#eeeeee;
}

.text-area {
	width: 4.75em;
	text-align: center;
	display: inline-table;
	margin-right: 0.56818em;
}

.text-produce {
	font-size: 1em;
	border-radius: 10px 10px 10px 10px;
	border-style: solid;
	border-color: #95989A;
	padding-top: 0.05em;
	padding-bottom: 0.05em;
	border-width: 0.03em;
	width: 100%;
	color: #007B00;
	font-family: 'Segoe UI', 'Helvetica Neue', 'Open Sans', sans-serif;
	margin-left: 0.1em;
	margin-right: 0.1em;
	padding-left: 20px;
}

.text-produce:focus {
	outline: none;
	box-shadow: 0px 0px 3px 3px #e6e6e6;
}

.textbox-label-top {
	display:none;
}

.textbox-label-bottom {
	font-size: 0.4em;
	display: grid;
	padding-left: 30px;
	padding-top: 10px;
}
/* Mobile-specific settings */

@media only screen and (max-width:700px) {
	body { font-size: 12px; }

	#query {
		margin-top: 1em;
	}

	.header-second {
		display:none;
	}

	.fruit-image {
		padding:0;
		float: left;
	}

	.status {
		display: inline-block;
		margin: 15px 0px;
		padding-left: 50px;
	}

	.seasons-subtext { padding-top: 1em; }

	.textbox-label-top {
		font-size: 5vw;
		padding-bottom: 0;
		padding: 0;
		display: table-caption;
		padding-left: 30px;
		padding-top: 10px;
	}

	.textbox-label-bottom {
		display:none;
	}

	.card {
		box-shadow: 1px 1px 1px silver;
		background-color: #fff;
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
		width: 100%;
		position: relative;
		margin-top: 3em;
		padding-bottom: 3em;
		text-align: left;
		min-width:0px;
	}

	.right-col {
		display: initial;
	}

	.text-produce {
		max-width: 100000%;
	}
}
