body {
	background-color: #FFFBE5;
	font-family: 'Segoe UI', 'Helvetica Neue', 'Open Sans', sans-serif;
}

header {
	position: relative;
  background-color: #16C172;
  padding: 7px;
  padding-left: 20px;
  left: 0px;
  top: 0px;
  width: 100%;
  margin: -12px;
}

a {
	text-decoration: none;
}

#card {
	box-shadow: 1px 1px 1px silver;
}

#query {
	position:relative;
}

.indigo-link {
	color: #fff;
	font-weight:500;
}

/* Status of whether fruit/vegetable is in season, will be Yes or No, color will change based on DOM settings */
.status {
	font-size:3.3em;
	color:#a1a1a1;
}

.fruit-image {

}

.seasons-subtext {
	color:#424242;
}

.header-first {
	font-size:1.8em;
	color:#fff;
}

.header-second {
	margin-left:20px;
	font-size:1em;
	color:#eeeeee;
}
